/Canvas/nbproject/private/
/Canvas/dist/
/Canvas/build/
/Animaciones/nbproject/private/
/Animaciones/dist/
/Animaciones/build/
/ClienteServidor/nbproject/private/
/ClienteServidor/build/
/ClienteServidor/dist/
/Servidor/nbproject/private/
/Servidor/dist/
/Servidor/build/
/Cubo3D/nbproject/private/
/Cubo3D/build/
/MiCubo/nbproject/private/
/MiCubo/dist/
/MiCubo/build/